<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.gs.calc"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->
<!-- version is in major.minor.patch format-->

  <name>AlcoStop</name>

  <description>
     An application to stop alcohol addiction
  </description>

  <author href="https://build.phonegap.com" email="#">
      rambarun

  </author>

   <plugin name="cordova-plugin-call-number" spec="https://github.com/ihadeed/cordova-plugin-call-number" source="git" />

</widget>
